<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/elements :: head(title=${post.getTitle()})"></head>
<body>
<nav th:replace="partials/elements :: navbar"></nav>

<section class="container">
  <h1>Specific Post</h1>
  <div>
    <h2 th:text="${post.getTitle()}">post title</h2>
    <p th:text="${post.getPoster().getEmail()}"></p>
    <p th:text="${post.getBody()}"></p>
  </div>
</section>

<th:block th:replace="partials/elements :: footer"></th:block>
</body>
</html>
